# Gradle
# ------

.gradle/
build/
debug/

# IntelliJ
# --------

.idea/
classes/
out/
projectkorra-core.iml

# Eclipse
# -------

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.classpath
.project
.vscode/settings.json
